body {
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.weather-app-wrapper {
  max-width: 348px;
  max-height: 680px;
  margin: 15px auto;
}

.weather-app {
  border: 1px solid #838383;
  border-radius: 10px;
  height: 680px;
  background: white;
}

/* .weather-color {
  padding: 20px;
  height: 570px; 
  background: linear-gradient(to top, rgba(0 0 0 / 0.5), rgba(0 0 0 / 0)),
    url(./images/unsplash.jpg);
    
  background-repeat: no-repeat;
  background-size: 310%; 
  background-position: bottom -85px right -70px; 
  border-radius: 10px;
  background-position: left -80px top -10px;
}  */

.weather-color {
  padding: 20px;
  height: 680px;
  background: linear-gradient(to top, rgba(51, 67, 126, 0.268), rgba(0 0 0 / 0)),
    url(./images/pexels.jpg);

  background-repeat: no-repeat;
  background-size: 150%;
  /* background-position: bottom -85px right -70px; */
  border-radius: 10px;
  background-position: right -65px top 0px;
}

h1 {
  /* color: #878787; */
  font-size: 36px;
  font-weight: 120;
  line-height: 28px;
  margin-bottom: 10px;
  color: #eb6e4c;
}

/* .card-weather {
  border: 1px solid #dee2e6;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 570px;
  background: linear-gradient(to top, rgba(0 0 0 / 0.5), rgba(0 0 0 / 0)),
    url(./images/unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center top 0px;
} */

li {
  font-size: 12px;
  text-transform: capitalize;
}

.overview {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weather-temperature-row {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
}

.weather-temperature-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.weather-temperature-items {
  border-left: 1px solid #eb6e4b;
  padding-left: 16px;
}
.weather-temperature img {
  /* margin-right: 5px; */
  height: 50px;
  width: 50px;
}

.weather-temperature-humidity {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-temperature-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: rgb(255, 255, 255);
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: rgb(255, 255, 255);
}

.weather-temperature .active {
  color: #000000;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.form-item {
  display: flex;
  gap: 6px;
}

.search-form {
  margin-bottom: 20px;
}

.form-control {
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 6px;
  border-width: 1px;
  border-color: #dee2e6;
  width: 210px;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
  border-color: #eb6e4c;
}

.btn-primary {
  background: #eb6e4c;
  border: #eb6e4c;
  color: white;
  font-size: 12px;
  padding: 11px 15px;
  border: 1px #f96d00;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  /* width: 25%; */
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #eb6e4c;
  color: white;
  font-size: 12px;
}

.fa-solid {
  color: #a2a2a2b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;
}

.weather-forecast {
  margin-top: 250px;
  text-align: center;
  position: relative;
  top: -10px;
}

.forecast-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}

.forecast-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.weather-forecast-date {
  font-size: 11px;
}

.weather-forecast-img {
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 11px;
  text-align: center;
}
