body {
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.weather-app-wrapper {
  max-width: 340px;
  height: 680px;
  margin: 15px auto;
}

.weather-app {
  border-radius: 12px;
  height: 680px;
  border: 1px solid #c2c2c2;
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  padding: 10px 15px;

  
}

.weather-phone {
  display: flex;
  justify-content: space-between;
}

.weather-phone-left {
  display: flex;
  gap: 5px;
}

.weather-phone-right {
  display: flex;
  gap: 5px;
}

.fa-solid,
.fa-brands,
.fa-regular {
  font-size: 12px;
  color: #48484a;
}

.weather-phone-touch {
  display: flex;
  justify-content: space-around;
}

.search-form {
  margin: 40px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.form-bars {
  display: flex;
  margin-left: 3px;
}

.form-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  position: relative;
  left: -50px;
}

.form-control {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.679);
  padding-right: 12px;
  height: 30px;
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
  padding: 10px 15px;
  border: none;
  color: #48484a;
  width: 100%;
  margin-left: 20px;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
  border: none;
}

.form-control {
  font-size: 12px;
  padding: 10px 15px;
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  border-radius: 20px;
}

.btn-primary {
  background: transparent;
  border: #eb6e4c;
  color: #48484a;
  font-size: 12px;
  padding: 10px 15px;
  border: 1px #f96d00;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #eb6e4c;
  font-size: 12px;
}

.fa-brands {
  font-size: 13px;
  color: #48484a;
}

input {
  outline: none;
}

.overview {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 5px;
}

.weather-color {
  padding: 20px;
  height: 570px;
  /* background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
  background: linear-gradient(to right, #a8caba 0%, #5d4157 100%);

  /* background: linear-gradient(to top, rgba(0 0 0 / 0), rgba(0 0 0 / 0)),
    url(./images/unsplash.jpg);

  background-repeat: no-repeat;
  background-size: 310%;
   background-position: bottom -85px right -70px; 
  background-position: bottom -85px right -70px;
  border-radius: 10px;
  background-position: right -80px top 0px; */
}

/* .weather-color {
  padding: 20px;
  height: 680px;
  background: linear-gradient(to top, rgba(51, 67, 126, 0.268), rgba(0 0 0 / 0)),
    url(./images/pexels.jpg);

  background-repeat: no-repeat;
  background-size: 150%;
  background-position: bottom -85px right -70px;
  border-radius: 10px;
  background-position: right -65px top 0px;
} */

li {
  font-size: 11px;
  text-transform: capitalize;
}

.weather-temperature-row {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff23;
  align-items: flex-end;
  padding-bottom: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.weather-temperature-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

.weather-temperature-items {
  display: flex;
  gap: 18px;
  font-size: 11px;
  flex-direction: column;
  width: 140px;
}

#wind,
#humidity,
#feels {
  font-size: 20px;
}

.wind-i,
.humidity-i,
.feels-i {
  display: flex;
  align-items: center;
  width: 80px;
}

.fa-wind,
.fa-droplet,
.fa-temperature-low {
  color: #eb6e4c;
  margin-right: 10px;
  padding-left: 10px;
}

.weather-temperature-humidity {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 500;
}

.weather-temperature .units {
  position: relative;
  font-size: 11px;
  top: -34px;
  color: #48484a;
}

.weather-temperature .active {
  color: #48484a;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 40px;
  text-align: center;
  background-color: #ffffff23;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.forecast-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.forecast-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.weather-forecast-date {
  font-size: 11px;
}

.weather-forecast-img {
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 11px;
  text-align: center;
}

.weather-phone-touch {
  border-radius: 12px;
  margin-top: 45px;
}

.weather-phone-down {
  display: flex;
  gap: 70px;
  justify-content: space-around;
}

.small {
  margin-top: 10px;
  display: block;
  text-align: center;
}
